/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    display: block;
	clear: both;
}

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

.header, .footer{
 background-color: black;
 color: white;
}
.header {
    padding: 10px 0 10px 0;
}
.section1, .section2 {
    min-height: 400px;
    padding: 60px 10px 0 10px;
    background-color: #c0d6e4;
    border: 1px solid gray;
    border-style: dotted;
}
.section1 {
    width: 50%;
    display: block;
    float: left;
}
.section2 {
    width: 50%;
    display: block;
    float: left;
}
.centered {
    text-align: center;
}

.button {
    width: 55px;
    min-height: 25px;
    background-color: #66cdaa;
    color: white;
    font-size: 0.8em;
}
.mainButton {
    width: 30%;
    margin: 40px 35% 40px 35%;
    display: block;
    font-size: 1.2em;
}
.videoComponent {
    padding: 120px 0 120px 0;
}

.questionBox, .ulBox {
    padding: 10px 0 10px 0;
}
.question, .userMessage {
    font-size: 1.4em
}

.liComponent{
  height: 50px;
  width: 50%;
  margin: 10px 25% 10px 25%;
  list-style:lower-roman;
}
.liComponent li{
    height: 60px;
    padding-top: 10px;
}
.liComponent span{
    margin: 40px 20px 20px 20px;
    margin-top: 20px;
}
.liComponent button{
    float: right;
    clear: none;
    margin-top: -5px;
}

.footer{
    min-height: 140px;
    padding: 30px 0 30px 20px;
}
.span {
    margin-top: 10px;
}
.span a {
    color: #66cdaa;
    text-decoration: none;
}

/*Responsiveness*/
@media only screen and (max-width:900px){

    .section1, .section2{
        width: 100%;
    }
}
